/* reset */

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box; 
}

body{
    font-family: "Montserrat", sans-serif;
    background: #eee;
    color: #333;
}
p{
    margin-bottom: 0.8rem;
}

h1,h2,h3,h4{
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: #333;
}

strong{
    color: #f1c40f;
    font-weight: 700;
}

ul{
    list-style: none;
}

em{
    color: #555;
}
/*Class*/

.container{
    width: 100%;
    text-align: center;
}
.container ul {
    display: flex;
    flex-flow: row wrap;
}

.title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
}
/*vp + header*/

.vp-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.vp-container .vp-logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header{
    padding: 1rem 2rem;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 1.8rem;
}
header ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    
}
header ul li{
   padding: 1rem;

}

header ul li a:hover{
    color:  #f1c40f;
    text-decoration: underline;
}
.vp-logo{
    margin-bottom: 0;
    font-family: "Long Cang", cursive;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:400 ;
}

.vp-logo i{
    color: #f1c40f;
    font-size: 1.6rem;
    margin-right: 0.5rem;
}
header a{
    color: white;

}

.vp{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: url(./imgs/paris.jpeg) center center/cover no-repeat;
}

.vp-content{
    max-width: 800px;
    text-align: center;
    color: white;
}

.vp-content h1{
    font-size: 34px;
    margin-bottom: 1rem;
    text-align: center;
}


.vp-content p{
    font-size: clamp(20px , 2vw , 24px);
    margin-bottom: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
}

/* offer */

.offer{
    padding: 10rem 1rem 10rem 1rem;
    margin: auto;
}

.offer ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.offer-elem{
    border: 1px solide #ddd;
    background: white;
    margin: 1rem;
}
.offer-elem-img{
    width: 100%;
    height: 300px;
}

.offer-elem-text{
    padding: 2rem;
    text-align: center;

}

.offer-separator{
    margin:1rem auto;
    height: 2px;
    width: 50px;
    background: #333;

}

/*who*/

.who{
    display: flex;
    flex-flow: row wrap;
}





.who-content-img img{
    width: 100%;
}

.who-content-text{
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #333;
    color: white;
}

.who-content-text h2{
    margin-bottom: 2rem;
}

.who-content-text p{
    font-size: 1.3rem;
    line-height: 1.8rem;
}

/*testimonials*/

.testimonials{
    padding: 5rem 1rem 5rem 1rem;
    margin: auto;
}

.testimonials-content{
    display: flex;
    flex-flow: column;
}

.testimonials-elem {
    flex: 1;
    background: white;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.testimonials-elem-text {
    padding: 0 2rem;
}

.testimonials-elem-text p i{
    padding: 0 2rem;
}


.testimonials-elem-img  p{
    font-weight: 700;
}
.testimonials-elem-img img{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-bottom: 0.5rem;
    
}

/*contact*/

.contact{
    padding: 10px 1px 10px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    color: white;
    
}

.contact-form{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form  input{
    background: #333;
    border:0;
    border-bottom: 1px solid #555;
    padding: 1rem;
    color: white;
    font-size: 1.3rem;
    outline: 0;
    margin-bottom: 1px;
}

.contact-form  input:hover{
    border-bottom: 1px solid #f1c40f;
}

.contact-form  h2{
    margin-top: 5rem;
}
.contact-form div button {
    display: block;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border-radius: 30px;
    background: #f1c40f;
    color: white;
    font-weight: 700;
    font-size:1.3rem ;
    cursor: pointer;
}

.contact-form div button:hover{
    background: #f39c12;
}

/*footer*/
footer{
    background: #444;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

footer p{
    margin-bottom: 0;
}